<div id="timeTable">
  <table>
    <thead>
      <tr>
        <th class="margin"></th>
              <th>月</th>
              <th>火</th>
              <th>水</th>
              <th>木</th>
              <th>金</th>
              <th>土</th>
          </tr>
    </thead>
    <tbody>
      <tr><th>1</th><td></td><td>経済学<p>523</p></td><td></td><td></td><td></td></tr>
      <tr><th>2</th><td></td><td></td><td></td><td></td><td>経済学史</td></tr>
      <tr><th>3</th><td>労働経済学<p>323</p></td><td></td><td></td><td></td><td>金融論</td></tr>
      <tr><th>4</th><td>フィンテック</td><td></td><td>財政社会学</td><td></td><td></td></tr>
      <tr><th>5</th><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
  </table>
  <%= image_tag("svg/shareButton.svg", class: "share-button") %>
</div>
<div class="class-information">
  <div class="class-information__text">
    <div class="wrapper">
      <p class="class-name">
        ミクロ経済学
      </p>
      <p class="professor-name">
          <span>教授：</span>グレーヴァ香子
      </p>
    </div>
  </div>
    <div class="share-image">
      <%= image_tag("user1-1.png") %>
      <%= image_tag("user1-1.png") %>
      <%= image_tag("user1-1.png") %>
      <%= image_tag("user1-1.png") %>
      <%= image_tag("user1-1.png") %>
      <%= image_tag("user1-1.png") %>
      <%= image_tag("user1-1.png") %>
      <%= image_tag("user1-1.png") %>
      <%= image_tag("user1-1.png") %>
  </div>
</div>
